.colbyGroupsPostTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #ccc;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f8f9fa;
    }
}

:global .react-autosuggest__container {
    position: relative;
}

:global .react-autosuggest__input {
    width: 240px;
    height: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

:global .react-autosuggest__input--focused {
    outline: none;
}

:global .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

:global .react-autosuggest__suggestions-container {
    display: none;
}

:global .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 10;
    width: 240px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    /* font-weight: 300; */
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

:global .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:global .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

:global .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.deleteBtn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.175rem 0.55rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }
}

.modalContainer {
    width: 500px;
    padding-bottom: 10px;
}

.modalCloseBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
